<aside class="student" style="width: 200px;">
    <section>
        <h6 class="side-heading3"><span class="reflect" data-text="Student" style="font-size: 20px;">Student</span></h6>
        <ul class="list-unstyled">
            <% if (req.session.role=='student' ) {%>
                <li><a class="side-button1 <%= req.path == '/student' ? 'active':'' %>" href="/student" style="font-size: 15px;">Student
                        Application</a>
                </li>
                <%}%>
                    <!-- <li><a class="side-button1 <%= req.path == '/status' ? 'active':'' %>" href="/status">Status</a></li> -->

                    <% if (req.session.role=='admin' ) {%>
                        <li class="dropdown">
                            <a href="/index" class="side-button1 dropdown-toggle" data-toggle="dropdown"><i
                                    class="fa fa-fw fa-plus" style="font-size: 15px;"></i>
                                Status <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <li><a href="/status" style="font-size: 15px;">To be approve</a></li>
                                <li><a href="/approved" style="font-size: 15px;">Approved</a></li>
                            </ul>
                        </li>
                        <% } %>

                            <% if (req.session.role=='student' ) {%>
                                <li><a class="side-button1 <%= req.path == '/status' ? 'active':'' %>"
                                        href="/status" style="font-size: 15px;">Status</a></li>
                                <% } %>

                                    <% if (req.session.role=='admin' ) {%>
                                        <li><a class="side-button1 <%= req.path == '/dashboard' ? 'active':'' %>"
                                                href="/dashboard" style="font-size: 15px;">Dashboard</a></li>

                                        <!-- <li class="dropdown">

                                            <a href="/index" class="side-button1 dropdown-toggle"
                                                data-toggle="dropdown"><i class="fa fa-fw fa-plus" style="font-size: 15px;"></i> Department
                                                <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">

                                                <li><a href="/FOA" style="font-size: 15px;">Faculty of Arts</a></li>
                                                <li><a href="/SOB" style="font-size: 15px;">School of Business</a></li>
                                                <li><a href="/CM" style="font-size: 15px;">School of Chinese Medicine</a></li>
                                                <li><a href="/COMM" style="font-size: 15px;">School of Communication</a></li>
                                                <li><a href="/SCI" style="font-size: 15px;">Faculty of Science</a></li>
                                                <li><a href="/SS" style="font-size: 15px;">Faculty of Social Science</a></li>
                                                <li><a href="/VA" style="font-size: 15px;">Academy of Visual Arts</a></li>
                                                <li><a href="/CE" style="font-size: 15px;">School of Continuing Education</a></li>
                                            </ul>
                                        </li> -->
                                        <% } %>

                                            <% if (req.session.Faculty=='CE' && req.session.role=='teacher' ) {%>
                                                <li><a class="side-button1 <%= req.path == '/CE' ? 'active':'' %>"
                                                        href="/CE" style="font-size: 15px;">Reply</a></li>
                                                <% } else if (req.session.Faculty=='CM' && req.session.role=='teacher' ) {%>
                                                    <li><a class="side-button1 <%= req.path == '/CM' ? 'active':'' %>"
                                                            href="/CM" style="font-size: 15px;">Reply</a></li>
                                                    <% } else if (req.session.Faculty=='COMM' && req.session.role=='teacher' ) {%>
                                                        <li><a class="side-button1 <%= req.path == '/COMM' ? 'active':'' %>"
                                                                href="/COMM" style="font-size: 15px;">Reply</a></li>
                                                        <% } else if (req.session.Faculty=='FOA' && req.session.role=='teacher' ) {%>
                                                            <li><a class="side-button1 <%= req.path == '/FOA' ? 'active':'' %>"
                                                                    href="/FOA" style="font-size: 15px;">Reply</a></li>
                                                            <% } else if (req.session.Faculty=='SCI' && req.session.role=='teacher' ) {%>
                                                                <li><a class="side-button1 <%= req.path == '/SCI' ? 'active':'' %>"
                                                                        href="/SCI" style="font-size: 15px;">Reply</a></li>
                                                                <% } else if (req.session.Faculty=='SOB' && req.session.role=='teacher' ) {%>
                                                                    <li><a class="side-button1 <%= req.path == '/SOB' ? 'active':'' %>"
                                                                            href="/SOB" style="font-size: 15px;">Reply</a>
                                                                    </li>
                                                                    <% } else if (req.session.Faculty=='SS' && req.session.role=='teacher' ) {%>
                                                                        <li><a class="side-button1 <%= req.path == '/SS' ? 'active':'' %>"
                                                                                href="/SS" style="font-size: 15px;">Reply</a>
                                                                        </li>
                                                                        <% } else if (req.session.Faculty=='VA' && req.session.role=='teacher' ) {%>
                                                                            <li><a class="side-button1 <%= req.path == '/VA' ? 'active':'' %>"
                                                                                    href="/VA" style="font-size: 15px;">Reply</a>
                                                                            </li>
                                                                            <% } %>

        </ul>
    </section>
</aside>

<% if (req.session.role=='student' ) {%>

    <div class="content cocah flex-lg-grow-1">

        <div class="container-fluid">

            <table class="table table-striped table-bordered table-sm w-100">
                <tbody>
                    <tr>
                        <td>
                            <div align="center"><a href="/student/admissionform" target="" style="font-size: 20px;">Student Admission Form</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <% } %>
